* {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    vertical-align: baseline;
    
    
    
 
  }
  
  html,
  body{
    width: 100vw;
    height: 100vw;
    overflow:scroll
  }

main {
    display: flex;
    justify-content: space-around;
   
}

p,
label,
input,
select,
button {
  padding: 8px;
  color: #000;
 
}

label{
   display: block;
}

textarea{
    resize: none;
}

input,textarea,select,button{
    border-style: solid;
    border-width: 1px;
}

button{
    background-color: aquamarine;
}

h4{
    margin-bottom: 50px;
}
form {
    
    display:flex;
    flex-direction: column;
    position: absolute;
    width: 576px;
    height: 1024px;
    left: 0px;
    top: 0px;
    
    
    
}

fieldset {
  

    display:flex;
    flex-direction: column;
    border: 0;
    float:  left;
    margin-right: 1em;
    border: 1px groove ;
    padding: 20px;
    background-color:aquamarine;
    margin-top: 45px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 
}

div{
    
    width: 864px;
    height: 1024px;
    left: 576px;
    top: 0px;
    
}



#colunaDireita {
    display:flex;
    flex-direction: column;
    position : absolute;

  

}

.div-pesquisa{
    width: 100%;
    height: 5%;

}
#pesquisa{
    width:80%;
}

.contador{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px
}

.cardContador{
    
    width: 150px;
    height: 100px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;

}

.card{

    display: flex;
    flex-direction: column;
    width: 802px;
    height: 382px;
    background: #FFFFFF;
    border-radius: 16px;
        

}

.cartao{
    width: 900px;
    margin-bottom:50px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
}


.botoesCard {
    display: flex;
    justify-content: space-around;
}


h2{
    text-align: center;
}